body, html{
  padding: 0;
  margin: 0;
    font-family: 'PT Sans', sans-serif;
}
a{
  color: white;
  text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}



li{
    list-style: none;
}


.static-ul a{
    font-size: 1.2em;
}

.wrapper-center-content{
    max-width: 1140px;
    margin: 0 auto;
}


.num{
  font-weight: 700;
  font-size:   2em;
}

.month{
  font-weight: 700;
  font-size: 1.3em;
}

.date{
  display: flex;
  flex-direction: column;  
  flex-grow: 0;
  margin-right: 40px;

}


.year{
  font-weight: 700;
}



.copyright{
    text-align: center;
    background-color: #333;
    padding: 20px 0;
    color: #676767
}



footer{
    font-weight: 500;
    padding: 40px;
    background-color: #333;
    
}

.footer-content:after{
    content: ' ';
    display: block;
    clear: both;
}

.footer-content > div{
    width: calc(25% - 40px);
    margin: 0 20px;
    float: left;
}

footer h4{
   
     font-weight: 500;
    font-size: 1.4em;
    color: #767676;
}


.footer-img-wrapper img{
    width: 100%;
}


.koncert-wrap{
    color: #767676;
    display: flex;
    flex-wrap: wrap;
}

footer a{
    color: #b6b6b6;
}

footer a:hover{
    color: #86b775;
}

footer li{
    margin-bottom: 20px;
}

.footer-content{
   
    max-width: 1120px;
    margin: 0 auto;
}

.inst-row{
   display: flex;
}

.inst-td img{
   
    width: 100%;
}

.inst-td{
    margin: 0 4px; 
}



.new-albom img{
    transition: opacity 0.2s;
}

.new-albom img:hover{
    opacity: 0.5;
}

.inst-row img{
    transition: opacity 0.2s;
}

.inst-row img:hover{
    opacity: 0.5;
    cursor: pointer;
}

.koncerts{
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0,0,0,.05);
}

.active a{
  color: #86b775;
}

.static-nav{
    z-index: 10;
     position: fixed;
    top: 0;
    width: 100%;
    background-color: #222;
}

.static-nav a:hover{
    color: #86b775;
}


.static-ul{
   
   max-width: 1120px;
    margin: 0 auto;
    font-family: "Droid Sans" , arial;
    text-transform: uppercase;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    font-weight: normal;
    font-size: 0.9em;
    padding: 1em 10em;
    box-sizing: padding-box;
}


.go-top{
    z-index: 2;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.go-top a{
   
    display: block;
    text-align: center;
    line-height: 3.5em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);
    
}

.go-top a:hover{
    background-color: rgba(255,255,255,1);
}

.go-top i{
    color: #333;
 font-size: 2em;
    margin: 0;
}
.go-top i:hover{
    color: #333;
}

.menu-icon{
display: none;
}

.img-wrapper a
{
     display: block;
    position: relative
}


.img-wrapper a:after{
   
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0);
    
    transition: background-color .25s;
}

.img-wrapper:hover  a:after{
   background-color: rgba(255,255,255,0.4);
}

#gotop{
    display: none;
}



#side{
    
    z-index: 90;
    display: none;
    background-color: #222;
    width: 250px;
    position: fixed;
    top: 0;
    right: -300px;
  height: 100%;
    height: 100vh;
    border-left: 1px solid #888;
    box-sizing: border-box;
    transition: right .5s;
}

#side ul{
    margin-top: 2em;
    margin-left: 1em;;
}
#side ul a{
    font-weight: 600;
    color: #bbb;
}
#side li{
    text-transform: uppercase;
    font-size: .8em;
    display: block;
    padding: .7em 1em;
   
}

#side .close i{
        margin-right: 25px;
    color: white;
}

#side .close{
    margin-top: 1em;
    font-size: 1.5em;
     text-align: right;
}


@media (max-height: 400px)
{
    #side li{
        width: 30%;
        float: left;
    }
}



@media (max-width: 1030px)
{  
    .menu-icon{
        display: block;
        text-align: right;
        padding: 0.5em 1em;
        font-size: 2em;
        color:white;
        text-shadow: 0 0 2px black;
    }
      
    #side{
        display: block;
  
    }
}


@media (max-width:899px)
{
    .footer-content > div{
    float: none;
        width: 100%;
        margin: 0;
    }
    .new-albom img {
        max-width: 400px;
    }
    .koncert-text{
    display: flex;align-items: center;
}
}

@media (max-width: 479px)
{
    footer{
        padding: 10px;
    }
}

@media (max-width: 1030px)
{
    .static-ul{
        display: none;
    }
    
    .static-nav{
        background-color: rgba(0,0,0,0);
    }
    
   
}
